div {
    background-color:#fff0f5 ;    
    padding: 20px;
    width: 400px;
    text-align: left;
    border: 2px solid #dc7dac;
    
  }

highlight {
    background-color: #faf72f ;  

}

h1,p {
    font-family: Helvetica;
  }
