div {
    background-color:#fff0f5 ;    
    padding: 20px;
    width: 400px;
    text-align: left;
    border: 3px solid #dc7dac;
    margin: 0 auto;
    
    
}

highlight {
    background-color: #faf72f ;  

}

body {
    font-family: Helvetica;
  }

h1{
    text-align: center;

}
p{
    text-align: center;
}
